# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# YOLO
runs/
*.pt
*.pth
*.weights

# IDE
.vscode/
.idea/
.venv/

# OS
.DS_Store
Thumbs.db

# Project specific
tested_results/
*.jpg
*.jpegl
*.png
*.txt
!requirements.txt
TO-DO.txt

# Dataset folders
bdd_images/
bdd_labels/
runs/
output_frames/
Videos/
img_input/
seg_json_output/
solo/
outputs/
outputs_vid/
vid_input/
temp/